Body{ 
    margin:0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514e;

 }
 hr{
   border-top: 5px dotted #EAF6F6;
   width: 10%;
 }
 .Top-container{
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;

 }
 
 

 h1{
    font-size: 5.625rem;
    margin: 50px auto 0;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    line-height: 2;


 }

 h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;

 }
 h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;


 }
 a{
    color:#11999E
 }
 .bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;


 }
 .subtitle-p{ 
    width: 20%;
    margin: 0 auto;
 }
 .top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
 }
 .skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: justify;
    line-height: 2;
 }
 .idea{
   width: 25%;
   float: left;
   margin-right: 30px;
 }
 .positivo{
   width: 25%;
   float: right;
   margin-left: 30px;
 }

 .btn {
   
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: linear-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8;
   -moz-border-radius: 8;
   border-radius: 8px;
   font-family: Arial;
   color: #ffffff;
   font-size: 20px;
   padding: 10px 20px 10px 20px;
   position: relative;
   text-decoration: none;
   top: 25px;
 }
 
 .btn:hover {
   background: #30e3cb;
   background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
   background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
   background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
   background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
   background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
   text-decoration: none;
 }
 .bottom-container{
   height: 200px;
   background-color: #66bfbf;
   margin-top: 90px;
   
 }
 .footer-link{
   color: #11999E;
   position: relative;
   top: 90px;
 }
 .alex{
   color: #EAF6F6;
   position: relative;
   top: 90px;
   
 }
 .skills{
   margin-top: 90px;
 }
 .profile{
   margin: 90px auto;
   width: 35%;
   line-height: 2;
 }
 
 

 